<header class="header text-center">
	<h1 class="blog-name pt-lg-4 mb-0"><a class="no-text-decoration" href="/">My Markdown Blog</a></h1>

	<nav class="navbar navbar-expand-lg navbar-dark">
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navigation"
			aria-controls="navigation"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>

		<div id="navigation" class="collapse navbar-collapse flex-column">
			<div class="profile-section pt-3 pt-lg-0">
				<img class="profile-image mb-3 rounded-circle mx-auto" src="/static/images/profile.png" alt="image" />

				<div class="bio mb-3">
					Hi, this is my Markdown blog. It's a Node.js app that I have created using Eta, Hono and Marked. You
					can read more about the original application in the following link.
					<br />
					<a href="https://github.com/LebCit/blog-doc" target="_blank">Find out more about Blog-Doc</a>
				</div>
				<!--//bio-->
				<ul class="social-list list-inline py-3 mx-auto">
					<li class="list-inline-item">
						<a href="#"><i class="fab fa-twitter fa-fw"></i></a>
					</li>
					<li class="list-inline-item">
						<a href="#"><i class="fab fa-linkedin-in fa-fw"></i></a>
					</li>
					<li class="list-inline-item">
						<a href="#"><i class="fab fa-github-alt fa-fw"></i></a>
					</li>
					<li class="list-inline-item">
						<a href="#"><i class="fab fa-stack-overflow fa-fw"></i></a>
					</li>
					<li class="list-inline-item">
						<a href="#"><i class="fab fa-codepen fa-fw"></i></a>
					</li>
				</ul>
				<!--//social-list-->
				<hr />
			</div>
			<!--//profile-section-->

			<ul class="navbar-nav flex-column text-start">
				<li class="nav-item">
					<a class="nav-link active" href="/">
						<i class="fas fa-home fa-fw me-2"></i>
						Blog Home
						<span class="sr-only">(current)</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="blog-post.html">
						<i class="fas fa-bookmark fa-fw me-2"></i>
						Blog Post
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="about.html">
						<i class="fas fa-user fa-fw me-2"></i>
						About Me
					</a>
				</li>
			</ul>

			<div class="my-2 my-md-3">
				<a class="btn btn-primary" href="https://themes.3rdwavemedia.com/" target="_blank">Get in Touch</a>
			</div>
		</div>
	</nav>
</header>
